/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    background: url('https://www.dreamleagues.co.uk/content/images/backdrops/banner-min.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    width: 100%;
}

.table-text {
    color: white;
    text-align: center;
}


h2 {
    margin-bottom: 30px;
    text-align: center;
    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    color: white;
}


.navbar {
    background-color: none;
    box-shadow: none;
    width: 60%;
}


.div1{
    margin-bottom : 1%;
    float:right;
}

