/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

body {
    background: url('https://www.dreamleagues.co.uk/content/images/backdrops/banner-min.jpg') no-repeat center center fixed;
    background-size: cover;
    background-attachment: fixed;
    color: white;
    width: 100%;
}

.table-text {
    color: white;
    text-align: center;
}

#leaguetableheader {
    margin-bottom: 0px;
    text-align: center;
    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    color: white;
}

h2 {
    margin-bottom: 30px;
    text-align: center;
    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    color: white;
}

.add-team {
    text-align: right;
}

.navbar {
    background-color: none;
    box-shadow: none;
    width: 60%;
}

.crudheaders {
    margin-top: 1px;
    text-align: left;
    text-shadow: #000 0px 0px 1px, #000 0px 0px 1px, #000 0px 0px 1px;
    color: white;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}


.add-player {
    text-align: right;
}

.d1 {
    float: left;
}

.d2 {
    float: right;
}
