@model BrookBallersWebApp.Models.Team

@{
    ViewData["Title"] = "Create";
}

    <h2 class="crudheaders">Add Team</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="TeamName" class="control-label"></label>
                    <input asp-for="TeamName" class="form-control" />
                    <span asp-validation-for="TeamName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="MP" class="control-label"></label>
                    <input asp-for="MP" class="form-control" />
                    <span asp-validation-for="MP" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="W" class="control-label"></label>
                    <input asp-for="W" class="form-control" />
                    <span asp-validation-for="W" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="D" class="control-label"></label>
                    <input asp-for="D" class="form-control" />
                    <span asp-validation-for="D" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="L" class="control-label"></label>
                    <input asp-for="L" class="form-control" />
                    <span asp-validation-for="L" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GF" class="control-label"></label>
                    <input asp-for="GF" class="form-control" />
                    <span asp-validation-for="GF" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GA" class="control-label"></label>
                    <input asp-for="GA" class="form-control" />
                    <span asp-validation-for="GA" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="GD" class="control-label"></label>
                    <input asp-for="GD" class="form-control" />
                    <span asp-validation-for="GD" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="PTS" class="control-label"></label>
                    <input asp-for="PTS" class="form-control" />
                    <span asp-validation-for="PTS" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div class="leaguetable">
        <a asp-action="Index">League Table</a>
    </div>
