@{
    ViewData["Title"] = "Home Page";
}

<style>

.body{
    
    background: url('https://www.dreamleagues.co.uk/content/images/backdrops/banner-min.jpg') no-repeat center center fixed;
    background-size :cover;
    background-attachment:fixed;
}

</style>

<body class="body">

    @*<div class="text-center">

        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

</body>

