@model BrookBallersWebApp.Models.Player

@{
    ViewData["Title"] = "Create";
}


    <h2 class="crudheaders">Create Player</h2>

    <hr />
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PlayerName" class="control-label"></label>
                    <input asp-for="PlayerName" class="form-control" />
                    <span asp-validation-for="PlayerName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Age" class="control-label"></label>
                    <input asp-for="Age" class="form-control" />
                    <span asp-validation-for="Age" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Pos" class="control-label"></label>
                    <input asp-for="Pos" class="form-control" />
                    <span asp-validation-for="Pos" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Foot" class="control-label"></label>
                    <input asp-for="Foot" class="form-control" />
                    <span asp-validation-for="Foot" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Goals" class="control-label"></label>
                    <input asp-for="Goals" class="form-control" />
                    <span asp-validation-for="Goals" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Assists" class="control-label"></label>
                    <input asp-for="Assists" class="form-control" />
                    <span asp-validation-for="Assists" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Apps" class="control-label"></label>
                    <input asp-for="Apps" class="form-control" />
                    <span asp-validation-for="Apps" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="TGA" class="control-label"></label>
                    <input asp-for="TGA" class="form-control" />
                    <span asp-validation-for="TGA" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Yel" class="control-label"></label>
                    <input asp-for="Yel" class="form-control" />
                    <span asp-validation-for="Yel" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Red" class="control-label"></label>
                    <input asp-for="Red" class="form-control" />
                    <span asp-validation-for="Red" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Team.TeamName" class="control-label"></label>
                    <select asp-for="Team.TeamName" class="form-control" asp-items="@ViewBag.TeamID"></select>
                </div>
                <div class="form-group">
                    <input type="submit" value="Create" class="btn btn-primary" />
                </div>
            </form>
        </div>
    </div>

    <div>
        <a asp-action="Index">All Players</a>
    </div>
